#!/bin/bash
set -eufo pipefail

dirs=(
    # XDG directories
    $HOME/.local/bin
    $HOME/.local/lib
    $HOME/.local/share
    $HOME/.local/state
    $HOME/.cache
    $HOME/.config

    # zsh
    $HOME/.local/state/zsh

    # node
    $HOME/.local/share/npm
    #HOME/.local/share/npm/bin
    $HOME/.local/share/npm/lib
)

for i in ${dirs[@]}; do
    mkdir -p $i
done
