{{- if eq .chezmoi.os "darwin" }}
Host *
  AddKeysToAgent yes
  UseKeychain yes
  IgnoreUnknown UseKeychain
{{- end }}

Host github.com
  User git

Host kelvin
  HostName kelvin.local
Host maxwell
  HostName maxwell.local
